<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis" id="call-for-papers">발표자 모집</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">서버리스데이즈 서울 행사에서 소중한 경험을 공유해 주실 발표자 여러분을 모십니다!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#">발표자 신청하러 가기</a>
        </div>
    </div>
</div>