<div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold text-body-emphasis" id="code-of-conducts">행동 강령</h1>
    <p class="col-lg-8 mx-auto lead">
        This takes the basic jumbotron above and makes its background edge-to-edge with a <code>.container</code> inside to align content. Similar to above, it's been recreated with built-in grid and utility classes.
    </p>
</div>