<div class="container-fluid px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="images/hero.png" class="d-block mx-lg-auto img-fluid" alt="Seoul" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <img src="images/logo-serverlessdays-seoul.png" alt="Serverless Days Seoul Logo" width="50%" loading="lazy" />
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-5">One Day.<br />One Track.<br />One Community.</h1>
            <h2 class="display-7 fw-bold text-body-emphasis lh-4 mb-5">2023년 11월 7일 저녁 6시</h2>
            <p class="lead mb-4">서버리스데이즈 서울 행사는 서버리스 테크놀로지와 관련한 모든 주제를 다루는 개발자 컨퍼런스입니다. 이 행사를 통해 실무 중심의 사례를 공유하고 경험을 나누는 유용한 장이 될 것입니다.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                @* <a class="btn btn-primary btn-lg px-4 me-md-2" href="#">참가 신청</a> *@
                <a class="btn btn-primary btn-lg px-4" href="#">발표자 신청</a>
            </div>
        </div>
    </div>
</div>