<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis" id="venue">행사 장소</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">강남구 역삼동 마루 180 &ndash; 지하철 2호선 역삼역 2번 출구 600m</p>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
            <img src="images/venue.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="행사 장소" width="700" loading="lazy">
        <div class="container px-5">
        </div>
    </div>
</div>