<div class="container">
    <footer class="py-3 my-4">
        <p class="text-center text-body-secondary border-top">&copy; 2023 <a class="link-secondary" href="https://serverlesskorea.org">한국 서버리스 사용자 그룹</a></p>
    </footer>
</div>