@inherits LayoutComponentBase

<div class="container-fluid">
    <Header />

    <main>
        <div class="content px-4">
            @Body
        </div>
    </main>

    <Footer />
</div>
